# Importing Libraries

In [ ]:
import yfinance as yf
import numpy as np
import pandas as pd
import plotly.express as px
import matplotlib.pyplot as plt
from pmdarima import auto_arima
from statsmodels.tsa.arima.model import ARIMA
from statsmodels.graphics.tsaplots import plot_acf, plot_pacf
import statsmodels.tsa.stattools as ts
from statsmodels.tsa.stattools import adfuller
import statsmodels.api as sm
import matplotlib.dates as mdates
from sklearn.metrics import mean_squared_error
import joblib
import warnings
warnings.filterwarnings("ignore")
from statsmodels.tools.sm_exceptions import ConvergenceWarning
warnings.simplefilter('ignore', UserWarning)
warnings.simplefilter('ignore', FutureWarning)
warnings.simplefilter('ignore', ConvergenceWarning)

# Fetching Data

In [2]:
ticker = 'ETH-USD'
start_date = '2017-01-01'
end_date = '2024-12-31'

eth_data = yf.download(ticker, start=start_date, end=end_date, interval='1d')
eth_data.reset_index(inplace=True)

eth_data.to_csv('../Data/eth_usd_2017_2024.csv', index=False)

YF.download() has changed argument auto_adjust default to True

[*********************100%***********************]  1 of 1 completed

# Dataset Overview

In [3]:
eth_data.shape

(2609, 6)

In [4]:
eth_data.head()

Price        Date       Close        High         Low        Open      Volume
Ticker                ETH-USD     ETH-USD     ETH-USD     ETH-USD     ETH-USD
0      2017-11-09  320.884003  329.451996  307.056000  308.644989   893249984
1      2017-11-10  299.252991  324.717987  294.541992  320.670990   885985984
2      2017-11-11  314.681000  319.453003  298.191986  298.585999   842300992
3      2017-11-12  307.907990  319.153015  298.513000  314.690002  1613479936
4      2017-11-13  316.716003  328.415009  307.024994  307.024994  1041889984

In [5]:
eth_data.tail()

Price,Date,Close,High,Low,Open,Volume
Ticker,,ETH-USD,ETH-USD,ETH-USD,ETH-USD,ETH-USD
2604,2024-12-26,3331.225830,3512.604492,3302.306396,3493.304199,22247726776
2605,2024-12-27,3328.916992,3436.710693,3302.575684,3331.053711,24091627403
2606,2024-12-28,3397.902344,3419.920166,3318.033936,3328.774658,14305648523
2607,2024-12-29,3349.513428,3406.648438,3321.664795,3397.862549,13440907792
2608,2024-12-30,3356.392578,3428.527344,3298.804443,3349.585938,26981583962

* **Time Covered:** Our data provides a detailed view of Ethereum's daily price and trading volume spanning from late 2017 to the end of 2024. This gives us a solid historical perspective.

* **How Much Data:** We've worked with a substantial dataset containing approximately **2600** individual daily records.

* **Average End-of-Day Price:** Across this entire period, the average closing price for Ethereum was around **$1490**. This gives us a central benchmark for the price.

* **Price Swing:** The price of Ethereum has shown significant movement, ranging from a low of about **$84** to a high of over **$4800**. This highlights the inherent volatility of the cryptocurrency.

* **Central Tendency:**
    * The **average price** (mean) we calculated is approximately **$1490**.
    * The **middle price** (median) of the daily prices is around **$1352**. This indicates that half the time the price was below this level and half the time above.

* **Price Changeability:** Ethereum's price has fluctuated considerably from one day to the next. The standard deviation we found, around **$1226**, confirms this significant daily volatility.

In [6]:
eth_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2609 entries, 0 to 2608
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   (Date, )           2609 non-null   datetime64[ns]
 1   (Close, ETH-USD)   2609 non-null   float64
 2   (High, ETH-USD)    2609 non-null   float64
 3   (Low, ETH-USD)     2609 non-null   float64
 4   (Open, ETH-USD)    2609 non-null   float64
 5   (Volume, ETH-USD)  2609 non-null   int64
dtypes: datetime64[ns](1), float64(4), int64(1)
memory usage: 122.4 KB

In [7]:
eth_data.describe()
eth_data['Date'] = pd.to_datetime(eth_data['Date'])

In [8]:
eth_data.columns = [col[0] if isinstance(col, tuple) else col for col in eth_data.columns] # Converted MultiIndex to a single index for improved data accessibility and readability <3
eth_data.head()

        Date       Close        High         Low        Open      Volume
0 2017-11-09  320.884003  329.451996  307.056000  308.644989   893249984
1 2017-11-10  299.252991  324.717987  294.541992  320.670990   885985984
2 2017-11-11  314.681000  319.453003  298.191986  298.585999   842300992
3 2017-11-12  307.907990  319.153015  298.513000  314.690002  1613479936
4 2017-11-13  316.716003  328.415009  307.024994  307.024994  1041889984

# Exporting Cleaned Dataset

In [9]:
# Assuming your cleaned df is called `eth_data`
eth_data.to_csv("../Data/cleaned_eth_data.csv", index=False)